<div
  [ngClass]="{
    'w-screen h-screen overflow-auto bg-white duration-150': true,
    'bg-eerieBlack': darkMode
  }"
>
  <div
    class="w-full pt-40 pb-20 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 -mb-16"
  >
    <div class="w-[541px] max-w-[90%] mx-auto flex flex-col space-y-10">
      <div class="flex items-center justify-between space-x-6">
        <h1 class="text-5xl text-white font-bold uppercase tracking-[15px]">
          ToDo
        </h1>
        <button (click)="toogleDark()">
          <span class="text-3xl text-white">
            @if (darkMode) {
            <ng-icon [name]="'heroSunSolid'"></ng-icon>
            } @else {
            <ng-icon [name]="'heroMoonSolid'"></ng-icon>
            }
          </span>
        </button>
      </div>
      <div
        [ngClass]="{
          'flex items-center space-x-6 bg-white h-16 rounded-md px-6 pr-0 overflow-hidden duration-150': true,
          'bg-yankeesBlue': darkMode
        }"
      >
        <button
          (click)="toogleTaskCompleted()"
          [ngClass]="{
            'flex items-center justify-center w-6 h-6 border border-gray-300 rounded-full cursor-pointer': true,
            'bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 border-none':
              newTask.completed,
            'border-white/25': darkMode
          }"
        >
          @if (newTask.completed) {
          <span class="flex text-xs text-white">
            <ng-icon [name]="'heroCheckSolid'"></ng-icon>
          </span>
          }
        </button>
        <input
          [ngClass]="{
            'flex-1 bg-transparent py-5 outline-none text-lg text-black placeholder:text-gray-400': true,
            'text-white': darkMode
          }"
          type="text"
          placeholder="Create a new todo..."
          [(ngModel)]="newTask.text"
          (keypress)="addTask($event)"
        />
      </div>
    </div>
  </div>
  <div
    [ngClass]="{
      'w-[541px] max-w-[90%] bg-white mx-auto rounded-md divide-y divide-gray-200 shadow-content duration-150': true,
      'bg-yankeesBlue divide-white/15 shadow-contentDark': darkMode
    }"
  >
    @if (tasks.length === 0) {
    <div class="flex items-center justify-center px-6 py-8">
      <span class="text-sm text-gray-500">Any tasks in this list</span>
    </div>
    } @for (item of tasks; track $index) {
    <button
      (click)="completeTask(item.id)"
      class="flex items-center space-x-6 w-full px-6 py-5 cursor-pointer group"
    >
      <div
        [ngClass]="{
          'flex items-center justify-center w-6 h-6 border border-gray-300 rounded-full': true,
          'bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 border-none':
            item.completed,
          'border-white/20': darkMode
        }"
      >
        @if (item.completed) {
        <span class="flex text-xs text-white">
          <ng-icon [name]="'heroCheckSolid'"></ng-icon>
        </span>
        }
      </div>
      <div class="flex flex-1 items-center justify-between space-x-4">
        <span
          [ngClass]="{
            'text-lg text-black font-normal': true,
            'text-gray-300 line-through': item.completed,
            'text-gray-200': darkMode,
            'text-white/50': darkMode && item.completed,
          }"
          >{{ item.text }}</span
        >
        <span
          (click)="deleteTask($event, item.id)"
          class="flex text-2xl text-gray-500 duration-150 group-hover:opacity-100 md:opacity-0"
        >
          <ng-icon [name]="'heroXMarkSolid'"></ng-icon>
        </span>
      </div>
    </button>
    }
    <div class="flex items-center justify-between space-x-5 px-6 py-5">
      <span class="text-sm text-gray-500">{{ tasks.length }} items left</span>
      <div class="hidden flex-1 items-center justify-center space-x-5 md:flex">
        <span
          (click)="listAll()"
          [ngClass]="{
            'text-sm font-bold cursor-pointer': true,
            'text-blue-500': currentFilter === 0,
            'text-gray-500': currentFilter !== 0
          }"
          >All</span
        >
        <span
          (click)="listActive()"
          [ngClass]="{
            'text-sm font-bold cursor-pointer': true,
            'text-blue-500': currentFilter === 1,
            'text-gray-500': currentFilter !== 1
          }"
          >Active</span
        >
        <span
          (click)="listCompleted()"
          [ngClass]="{
            'text-sm font-bold cursor-pointer': true,
            'text-blue-500': currentFilter === 2,
            'text-gray-500': currentFilter !== 2
          }"
          >Completed</span
        >
      </div>
      <span
        (click)="clearCompleted()"
        class="text-sm text-gray-500 cursor-pointer"
        >Clear Completed</span
      >
    </div>
  </div>
  <div
    [ngClass]="{
      'flex items-center justify-center space-x-5 bg-white w-[541px] max-w-[90%] mx-auto rounded-md shadow-content px-6 py-5 mt-4 duration-150 md:hidden': true,
      'bg-yankeesBlue shadow-contentDark': darkMode
    }"
  >
    <span
      (click)="listAll()"
      [ngClass]="{
        'text-sm font-bold cursor-pointer': true,
        'text-blue-500': currentFilter === 0,
        'text-gray-500': currentFilter !== 0
      }"
      >All</span
    >
    <span
      (click)="listActive()"
      [ngClass]="{
        'text-sm font-bold cursor-pointer': true,
        'text-blue-500': currentFilter === 1,
        'text-gray-500': currentFilter !== 1
      }"
      >Active</span
    >
    <span
      (click)="listCompleted()"
      [ngClass]="{
        'text-sm font-bold cursor-pointer': true,
        'text-blue-500': currentFilter === 2,
        'text-gray-500': currentFilter !== 2
      }"
      >Completed</span
    >
  </div>
  <div class="flex items-center justify-center px-6 py-8">
    <span class="text-sm text-gray-500">Drag and drop to reorder list</span>
  </div>
</div>

<router-outlet />
