@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JosefinSans";
  src: url("assets/fonts/JosefinSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
